.main-table {
    text-align: center;
    
}
.table {
    width: auto;
    margin: 0px auto;
    float: none;
}
.card {
    width: 70%;
    margin: 0 auto;
    margin-top: -15rem;
    z-index: 999;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
    0 15px 12px rgba(0, 0, 0, 0.22) !important;
}